/*
Roy Nisson, Angier Lee, Aahan Mehta
IntroCS pd 7 sec 11
HW 5 stuylin
2021-12-2
*/

/* this will style all h1 elements with color pink */
h1 {
    color: pink; margin-left 400
}

/* this will style all h2 elements with color blue */
h2 {
    color: blue; margin-left 100
}

/* this will make the page background lightblue*/
body {
    background-color: lightblue; /* bc dark mode 4 teh youngs */
}
p {
font-size: 18; font-family: sans-serif; fon-variant; small-cap; opacity;.8    
}
